[Desktop Entry]
Type=Action
TargetLocation=true
TargetContext=false
ToolbarLabel[en_US]=Create ASP.NET 5 App
ToolbarLabel[en]=Create ASP.NET 5 App
ToolbarLabel[C]=Create ASP.NET 5 App
Name[en_US]=Create ASP.NET 5 App
Name[en]=Create ASP.NET 5 App
Name[C]=Create ASP.NET 5 App
Profiles=profile-zero;

[X-Action-Profile profile-zero]
Exec=gnome-terminal  -e "yo aspnet"
Name[en_US]=Default profile
Name[en]=Default profile
Name[C]=Default profile
