[Desktop Entry]
Type=Menu
Name[en_US]=ASP.NET 5
Name[en]=ASP.NET 5
Name[C]=ASP.NET 5
ItemsList=aspnet5-createapplication;aspnet5-createbower;aspnet5-createclass;aspnet5-createcoffeescript;aspnet5-createconfig;aspnet5-creategulpfile;aspnet5-createhtmlpage;aspnet5-createjavascript;aspnet5-createjscript;aspnet5-createjson;aspnet5-createmvccontroller;aspnet5-createmvcview;aspnet5-createpackagejson;aspnet5-createstartupclass;aspnet5-createtextfile;aspnet5-createtypescript;aspnet5-createwebapicontroller;
