[Desktop Entry]
Type=Action
TargetLocation=true
TargetContext=false
ToolbarLabel[en_US]=Boostrap ASP.NET 5
ToolbarLabel[en]=Boostrap ASP.NET 5
ToolbarLabel[C]=Boostrap ASP.NET 5
Name[en_US]=Boostrap ASP.NET 5
Name[en]=Boostrap ASP.NET 5
Name[C]=Boostrap ASP.NET 5
Profiles=profile-zero;

[X-Action-Profile profile-zero]
Path=%f
Exec=gnome-terminal  -e "yo aspnet"
Name[en_US]=Default profile
Name[en]=Default profile
Name[C]=Default profile
