[Desktop Entry]
Type=Action
ToolbarLabel[en_US]=New JavaScript file
ToolbarLabel[en]=New JavaScript file
ToolbarLabel[C]=New JavaScript file
Name[en_US]=New JavaScript file
Name[en]=New JavaScript file
Name[C]=New JavaScript file
Profiles=profile-zero;
TargetLocation=true
TargetContext=false

[X-Action-Profile profile-zero]
Name[en_US]=Default profile
Name[en]=Default profile
Name[C]=Default profile
Path=%f
Exec=/bin/sh -c '$HOME/.local/share/file-manager/actions/sh/javascript.sh'
